
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ffffff;
}
.main-login-page{
    display:block;
    max-width:680px;
    width:80%;
      margin:120px auto;
}

h1{
    color:#148CFF;
    font-size:48px;
    letter-spacing:-3px;
    text-align:center;
    margin:120px 0 80px 0 ;
    transition:.2s linear;
}

/* .sjlogo{

    height: 25px;
    width: 25px;
}
.firstlogo{
    position:static;
    z-index: 2;
    left:100px;
    top:100px;
    right:100px;
    margin: 0 0 0 126px;
    animation: movingright 2s linear infinite;
    animation-play-state: paused;
}
.secondlogo{
    z-index: 1;
    margin: 0 300px 0 98.5px;
    animation: movingleft 2s linear infinite;
    animation-play-state: paused;
}
@keyframes movingright{
    0% {
        left:0px;
        rotate:0deg;
    }
    25%{
        rotate: 90deg;
    }
    50%{
        rotate: 189deg;
    }
    75%{
        rotate: 270deg;
    }
    100%{
        left:98.5px;
        rotate: 360deg;
    }
}
@keyframes movingleft{
    from {
        right:0px;
        rotate:0deg;
    }
    to {
        right:98.5px;
        rotate: 360deg;
    }
} */
/* .logomoveright{
    display: block;
    height: 25px;
    width: 25px;

    
}
.logomoveleft{
    display: block;
    height: 25px;
    width: 25px;

    
} */

.user-admin{
    display:block;
    
    list-style-type:none;
    margin:0 0 0 120px;
    span{
        text-decoration-line: none;
        color:#0f132a;
        text-decoration:none;
        font-weight:bolder;
        cursor : pointer;
        &:hover{
            opacity : 1 !important;
        }
    }
    .user-login{
        margin:0 40px 0 0 ;
    }
    .admin-login{
        margin:0 0 0 40px ;
    }
}
form{
    width:100%;
    max-width:500px;
    margin:40px auto 10px;
    .blocks{
        margin:20px auto;
        display:block;
        position:relative;
    }
    input{
        display:block;
        width:90%;
        max-width:680px;
        height:50px;
        margin:0 auto;
        border-radius:8px;
        border:none;
        background: #f3f3f3;
        padding:0 0 0 15px;
        font-size:16px;
        font-family: 'Montserrat', sans-serif;
        &:active{
            outline:none;
            border:none;
            color : #0f132a;
        }
    }
    .login-button{
        margin:20px auto;
        display:block;
        position:relative;
        background:#148CFF;
        color:white;
        display:block;
        width:93%;
        max-width:500px;
        height:50px;
        border-radius:8px;
        margin:0 auto;
        border:none;
        cursor:pointer;
        font-size:16px;
        font-family: 'Montserrat', sans-serif;
        box-shadow:0 5px 25px #148CFF;
        transition:.2s linear;
        &:hover{
            box-shadow:0 0 0 #148CFF;
        }
    }
}
